<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>书籍详情</title>
</head>
<body>
<div class="container">
    <div class="col-md-3">

        <div style="border: 0.2px solid gainsboro; margin-top: 30px">
            <h2 th:text="${book.name}"></h2>
            <img th:src="@{${book.avatar }}" style="width: 200px;height: 250px">
        </div>
    </div>
    <div class="col-md-5" style="margin-top: 30px">
        <p>作者：</p>
        <p th:text="${book.author}" style="font-size: 15px;margin-top: -29px;margin-left: 40px"></p>

        <p>出版社：</p>
        <p th:text="${book.publish}" style="font-size: 15px;margin-top: -32px;margin-left: 50px"></p>
        <p>定价：</p>
        <p th:text="${book.price}" style="font-size: 15px;margin-top: -32px;margin-left: 50px"></p>
        <p>页数：</p>
        <p th:text="${book.pages}" style="font-size: 15px;margin-top: -32px;margin-left: 50px"></p>
        <p>评价：</p>
        <p th:text="${book.remark}" style="font-size: 18px;margin-top: -35px;margin-left: 50px"></p>
    </div>


</div>
</body>
</html>

